<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Refers to https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file -->
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="MyGet" value="https://raet.myget.org/F/ce/auth/93e47157-9745-42ae-b949-3bbc91782247/api/v3/index.json" />
  </packageSources>
</configuration>